Skype/Client/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientToServerHandle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientToServerHandle_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_SignOut_InputMessage">
    <wsdl:part name="parameters" element="tns:SignOut" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_SignOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignOutResponse" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_ChangeStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatus" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_ChangeStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_SearchUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsers" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_SearchUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_AddFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFriend" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_AddFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IClientToServerHandle_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientToServerHandle">
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientToServerHandle/SignIn" message="tns:IClientToServerHandle_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientToServerHandle/SignInResponse" message="tns:IClientToServerHandle_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientToServerHandle/SignOut" message="tns:IClientToServerHandle_SignOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientToServerHandle/SignOutResponse" message="tns:IClientToServerHandle_SignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientToServerHandle/Register" message="tns:IClientToServerHandle_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientToServerHandle/RegisterResponse" message="tns:IClientToServerHandle_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientToServerHandle/ChangeStatus" message="tns:IClientToServerHandle_ChangeStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientToServerHandle/ChangeStatusResponse" message="tns:IClientToServerHandle_ChangeStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientToServerHandle/SearchUsers" message="tns:IClientToServerHandle_SearchUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientToServerHandle/SearchUsersResponse" message="tns:IClientToServerHandle_SearchUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientToServerHandle/GetFriends" message="tns:IClientToServerHandle_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientToServerHandle/GetFriendsResponse" message="tns:IClientToServerHandle_GetFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientToServerHandle/AddFriend" message="tns:IClientToServerHandle_AddFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientToServerHandle/AddFriendResponse" message="tns:IClientToServerHandle_AddFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientToServerHandle/GetMessages" message="tns:IClientToServerHandle_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientToServerHandle/GetMessagesResponse" message="tns:IClientToServerHandle_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientToServerHandle/SendMessage" message="tns:IClientToServerHandle_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientToServerHandle/SendMessageResponse" message="tns:IClientToServerHandle_SendMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientToServerHost" type="tns:IClientToServerHandle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/IClientToServerHandle/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap:operation soapAction="http://tempuri.org/IClientToServerHandle/SignOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IClientToServerHandle/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <soap:operation soapAction="http://tempuri.org/IClientToServerHandle/ChangeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap:operation soapAction="http://tempuri.org/IClientToServerHandle/SearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap:operation soapAction="http://tempuri.org/IClientToServerHandle/GetFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFriend">
      <soap:operation soapAction="http://tempuri.org/IClientToServerHandle/AddFriend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/IClientToServerHandle/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/IClientToServerHandle/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientToServerHandle">
    <wsdl:port name="ClientToServerHost" binding="tns:ClientToServerHost">
      <soap:address location="http://localhost:8080/ClientToServer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>